html, body {
  width: inherit;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #FFFF;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.header {
  padding: 0px 10px 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0px; 
  background-color: black;  
}

.main-nav {
  padding: 0 30px 0 20px;
}

.header a {
  color: #FFFF;
  text-decoration: none;
  margin: 0px; 
  padding: 20px; 
}

.header a:hover {
  color: gray;
}
.header form {
  float: right;
  margin: 40px;
}
.header input {
  background-color: black;
  color: gray;
  width: 300px;
}

 /* End of header */


.container {
  padding-top: 100px;
}

.flexbox {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto auto auto;
}

.flexbox img {
  transition: transform .3s;  
}

.flexbox img:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.popup .close:hover {
  color: grey;
}
.popup .content {
  /* max-height: 30%; */
  color:black;
  overflow: auto;
}

/* End of container */

.footerLinks ul {
  list-style: none;
  
  
}

.footerLinks a {
  color:gray;
  text-decoration: none;
  padding: 0;
}

.footerLinks a:hover {
  color: #FFFF;
  text-decoration: underline;
}


footer p {
  text-align: center;
  color: gray;
}


